.mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h2{
    margin-bottom: 20px;
}

.links{
    text-decoration: none;
    color: blue;
}


.card{
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0px 3px 3px 5px #F3E5F5;
    border-radius: 10px;
    width: 350px;
    padding: 10px;
}

.emailDetails{
    display: flex;
    flex-direction: column;
    text-align: start;
}

.emailDetails input{
    margin-bottom: 15px;
}

input:focus{
    outline: none;
    border: 1px solid blue;
}


.buttonContainer{
    margin-top: 5px;
    margin-bottom: 5px;
}

.updateButton{
    border: none;
    background-color: blue;
    border-radius: 10px;
    color: white;
    padding: 5px;
    font-weight: bold;
    cursor: pointer;
}

.blink{
    animation: smooth-blink 1.5s linear infinite;
    color: red;
}

@keyframes smooth-blink {
    0%, 100% {
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}